
<div class="container">
  <div class="row mt-5">
    <div class="col-3">
      <div class="dropdown">
        <button  class="btn btn-secondary dropdown-toggle customBtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <span *ngIf="sCurr1 === ''"> Select Currency</span>
          <span *ngIf="sCurr1 !== ''"> {{ sCurr1 }}</span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li *ngFor="let currency of currenciesArray" (click)="setCur1(currency)">
            {{ currency }}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-3">
      <div class="input-group mb-3">
        <input type="number" class="form-control" [(ngModel)]="nCurr1" type="number" (keyup)="currency1Change()">
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-3">
      <div class="dropdown">
        <button  class="btn btn-secondary dropdown-toggle customBtn" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
          <span *ngIf="sCurr2 === ''"> Select Currency</span>
          <span *ngIf="sCurr2 !== ''"> {{ sCurr2 }}</span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
          <li *ngFor="let currency of currenciesArray" (click)="setCur2(currency)">
            {{ currency }}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-3">
      <input type="number" class="form-control" [(ngModel)]="nCurr2" (keyup)="currency2Change()">
    </div>
  </div>

  <div class="row mt-5">
    <div class="col" *ngIf="sCurr1 && sCurr2">
      * 1 {{ sCurr1 }} = {{ basicCurrency }} {{ sCurr2 }}
    </div>
  </div>
</div>
